opencv_python_headless==4.1.2.30
natsort
numpy
tqdm
lmdb
scikit_image
matplotlib
torchsummary
nltk
torch==1.4.0
torchvision==0.5.0
imageio
six
scipy
fire
Pillow
scikit_learn
horovod
editdistance
git+https://github.com/google/gin-config